/* app/globals.css */
@import "tailwindcss";
@font-face {
  font-family: 'Boldfont';
  src: url('/fonts/Boldfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Boldfont', sans-serif !important;
}